<header class="header">
  <mat-toolbar class="header-container">
    <div class="plug"></div>
    <div class="search">
      <div mat-raised-button color="primary" class="logo">
        <mat-icon class="logo-icon">play_arrow</mat-icon>
      </div>
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Search</mat-label>
        <input #input type="search" matInput class="search-input" name="search">
      </mat-form-field>
      <button mat-raised-button color="primary" class="icon-btn" (click)="toggleFilters()">
        <mat-icon>tune</mat-icon>
      </button>
    </div>
    <div class="login" *ngIf="(isAuth$ | async);else notAuth">
      <span class="login-name">Your Name</span>
      <button mat-raised-button color="primary" class="icon-btn">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="icon-btn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <ng-template #notAuth>
      <button routerLink="/auth/sign-in" mat-raised-button color="primary">
        Login
      </button>
    </ng-template>
  </mat-toolbar>
</header>
