<header class="header">
  <mat-toolbar class="header-container">
    <div class="plug"></div>
    <div class="search">
      <div mat-raised-button color="primary" class="logo">
        <mat-icon class="logo-icon">play_arrow</mat-icon>
      </div>
      <form class="search-form" (ngSubmit)="searchVideos()">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>Search</mat-label>
          <input type="search" [(ngModel)]="searchTerm" (keyup.enter)="searchVideos()" matInput class="search-input" name="search">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="search-btn">
          Search
        </button>
      </form>
      <button mat-raised-button color="primary" class="icon-btn" (click)="toggleFilters()">
        <mat-icon>tune</mat-icon>
      </button>
    </div>
    <div class="login">
      <span class="login-name">Your Name</span>
      <button mat-raised-button color="primary" class="icon-btn">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="icon-btn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
