.filtering {
  background-color: #E5E5E5;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #E5E5E5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}
.sort-btn {
  background-color: transparent;
  color: #2F80ED;
  text-decoration: underline;
}
.sort-text {
  color: #2F80ED;
}
