<div class="container" *ngIf="selectedItem">
  <button mat-raised-button color="primary" class="icon-btn" (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="card">
    <div class="card-img">
      <img mat-card-image [src]="selectedItem.snippet.thumbnails.default.url">
    </div>
    <div class="card-content" [appBorderColor]="selectedItem.snippet.publishedAt">
      <div class="card-header">
        <mat-card-title>{{selectedItem.snippet.title}}</mat-card-title>
        <mat-card-subtitle>{{selectedItem.snippet.publishedAt | date: "fullDate"}}</mat-card-subtitle>
      </div>
      <mat-card-content>
        <h3>Description:</h3>
        <p class="card-description">{{selectedItem.snippet.description}}</p>
        <div class="statistics">
          <div class="statistics-item">
            <mat-icon>visibility</mat-icon>
            {{selectedItem.statistics.viewCount}}
          </div>
          <div class="statistics-item">
            <mat-icon>thumb_up_alt</mat-icon>
            {{selectedItem.statistics.likeCount}}
          </div>
          <div class="statistics-item">
            <mat-icon>thumb_down_alt</mat-icon>
            {{selectedItem.statistics.dislikeCount}}
          </div>
          <div class="statistics-item">
            <mat-icon>comment</mat-icon>
            {{selectedItem.statistics.commentCount}}
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
