<div class="container">
  <button mat-raised-button color="primary" class="icon-btn">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="card">
    <img class="card-img" src="https://i.ytimg.com/vi/YN8zNnV0sK8/default.jpg">
    <div class="card-content">
      <div class="card-header">
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Date</mat-card-subtitle>
      </div>
      <mat-card-content>
        <h3>Description:</h3>
        <p class="card-description">description</p>
        <div class="statistics">
          <div class="statistics-item">
            <mat-icon>visibility</mat-icon>
            1111
          </div>
          <div class="statistics-item">
            <mat-icon>thumb_up_alt</mat-icon>
            11111
          </div>
          <div class="statistics-item">
            <mat-icon>thumb_down_alt</mat-icon>
            1111
          </div>
          <div class="statistics-item">
            <mat-icon>comment</mat-icon>
            1111
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
